$color-gray-ball: #2a2a2a;
$color-black: #171717;
$primary-color: #fdf100;
$color-white: #f0f0f0;

.sliderWrapper {
  display: flex;
}
.sliderBackground {
  background: $color-black;
  width: 25%;
  height: 400px;
}

.ballContainer {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  background: $color-black;
  width: 60%;
}

.ball {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 10px;
  background-color: $color-gray-ball;
}

.sliderConteiner {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 75%;
  justify-content: center;
  .sliderFoto01 {
    background-image: url("../assets/slider/photo_01Photo.jpg");
    height: 100%;
    width: 25%;
    &:hover {
      background-image: url("../assets/slider/photo_01_.jpg");
      height: 100%;
      width: 25%;
    }
  }

  .sliderFoto02 {
    background-image: url("../assets/slider/photo_02Photo.png");
    height: 100%;
    width: 25%;
    &:hover {
      background-image: url("../assets/slider/photo_02_.png");
      height: 100%;
      width: 25%;
    }
  }
  .sliderFoto03 {
    background-image: url("../assets/slider/photo_03Photo.png");
    height: 100%;
    width: 25%;
    &:hover {
      background-image: url("../assets/slider/photo_03_.png");
      height: 100%;
      width: 25%;
    }
  }

  .sliderFoto04 {
    background-image: url("../assets/slider/photo_04Photo.png");
    height: 100%;
    width: 25%;
    &:hover {
      background-image: url("../assets/slider/photo_04_.png");
      height: 100%;
      width: 25%;
    }
  }
}

.sliderInfo {
  position: absolute;
  left: 20%;
  top: 100px;
  color: $color-white;
  h1 {
    font: bold 4.2rem "Source Sans 3";
  }
  h2 {
    font: bold 3rem "Source Sans 3";
  }
  button {
    font: bold 2rem "Source Sans 3";
    border: none;
    padding: 1rem 2rem;
    background: $primary-color;
    color: $color-black;
  }
}
