$primary-font: "Source Sans 3", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: ; */
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

i {
  cursor: pointer;
}
h1 {
  font-family: $primary-font;
}
h2 {
  font-family: $primary-font;
}
h3 {
  font-family: $primary-font;
}
h4 {
  font-family: $primary-font;
}
h5 {
  font-family: $primary-font;
}
link {
  font-family: $primary-font;
}
p {
  font-family: $primary-font;
}
a {
  font-family: $primary-font;
}
