.contactFormWrapper {
  background-color: #171717;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 450px) {
  .contactFormWrapper {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }
}

.imgStyled {
  display: flex;
  align-items: center;
}

.imgStyled img {
  width: 60px;
  border-radius: 40px;
  margin: 0 10px 0 0;
  border-color: #f0f0f0;
  border-style: groove;
}

.midStyled {
  position: relative;
  height: 200px;
}

.rightCopy {
  text-align: right;
}

@media (max-width: 450px) {
  .rightCopy {
    text-align: center;
  }
}
