$color-gray: #5d5d5d;
$color-white: #f0f0f0;
$color-black: #171717;
$primary-color: #fdf100;

.contactFormWrapper {
  background-color: $color-black;
  margin: 4rem 0;
  padding: 3rem 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media (max-width: 450px) {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 4rem 0;
    padding: 0;
  }
}
.imgStyled {
  display: flex;
  align-items: center;
  color: $color-white;

  img {
    width: 60px;
    border-radius: 40px;
    margin: 0 10px 0 0;
    border-color: $color-white;
    border-style: groove;
  }
}
.styledSVG {
  width: 60px;
  margin: 0 1rem;

  &:hover {
    fill: $primary-color;
    transform: scale(1.1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
  }
}

.midStyled {
  position: relative;
  height: 200px;
}

.rightCopy {
  text-align: right;
  @media (max-width: 450px) {
    text-align: center;
  }
}
