$color-gray: #5d5d5d;
$color-white: #f0f0f0;
$color-black: #171717;
$primary-color: #fdf100;

.navWrapper {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.navCopy {
  font: bold 15px "Source Sans 3";
  display: flex;
  align-items: center;
  background: $color-black;
  color: $color-white;
  overflow: hidden;
  width: 25%;
  justify-content: center;
  height: 2rem;
}

.nav {
  display: flex;
  align-items: center;
  background: $color-gray;
  height: 2rem;
  overflow: hidden;
  width: 75%;
  justify-content: center;
  @media (max-width: 450px) {
    position: absolute;
    width: 100%;
  }
}

.styledNav {
  font: bold 10px "Source Sans 3";
  text-decoration: none;
  color: $color-white;
  padding: 5px 0;
  margin: 0 30px;
  text-decoration: none;
  background: linear-gradient(to top, $primary-color, $primary-color) bottom / 0
    0.3em no-repeat;
  transition: 1s background-size;

  &:hover {
    text-decoration: none;
    background-size: 100% 0.3em;
    cursor: pointer;
  }
}
