@charset "UTF-8";
.tiles {
  padding: 6vh 16vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.tile {
  margin: 15px;
  cursor: pointer;
  overflow: hidden;
  width: 18vw;
  height: 18vw;
}

.tile img {
  width: 100%;
  transition: transform 500ms ease;
}

.tile img:hover {
  transform: scale(1.1);
}

.styledImage {
  background-color: #fdf100;
  position: relative;
  justify-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 18vw;
  height: 18vw;
  position: absolute;
  opacity: 0.7;
  /* ustawia przeźroczystość elementu */
  pointer-events: none;
  /* wyłącza reakcję na zdarzenia myszy */
}

.styledImage:hover {
  opacity: 0;
  background-color: #f0f0f0;
  pointer-events: auto;
  z-index: 0;
  position: absolute;
}
