$color-gray-ball: #2a2a2a;
$color-black: #171717;
$primary-color: #fdf100;
$color-white: #f0f0f0;

.sliderWrapper {
  display: flex;
}
.sliderBackground {
  background: $color-black;
  width: 25%;
  height: 400px;
}

.ballContainer {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  background: $color-black;
  width: 60%;
}

.ball {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 10px;
  background-color: $color-gray-ball;
}

.sliderConteiner {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 75%;
  justify-content: center;
  background-image: url("../../assets/slider/foto_slider1428x500.jpg");
}

.sliderInfo {
  position: absolute;
  left: 20%;
  top: 100px;
  color: $color-white;
  h1 {
    font: bold 4.2rem "Source Sans 3";
  }
  h2 {
    font: bold 3rem "Source Sans 3";
  }
  button {
    font: bold 2rem "Source Sans 3";
    border: none;
    padding: 1rem 2rem;
    background: $primary-color;
    color: $color-black;
  }
}
