$color-gray-ball: #2a2a2a;
$color-black: #171717;
$primary-color: #fdf100;
$color-white: #f0f0f0;

.sliderWrapper {
  display: flex;
  flex-wrap: wrap;
}

.sliderBackground {
  background: $color-black;
  width: 25%;
  height: 400px;

  @media (max-width: 450px) {
    width: 100%;
    height: 400px;
  }
}

.ballContainer {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  background: $color-black;
  width: 60%;

  @media (max-width: 450px) {
    width: 100%;
    padding-top: 30px;
  }
}

.ball {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin: 10px;
  background-color: $color-gray-ball;

  @media (max-width: 450px) {
    width: 1px;
    height: 1px;
    margin: 1px;
  }
}

.sliderConteiner {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 75%;
  justify-content: center;
  background-image: url("../../assets/slider/foto_slider1428x500.jpg");

  @media (max-width: 450px) {
  }
}

.sliderInfo {
  position: absolute;
  left: 20%;
  top: 100px;
  color: $color-white;

  @media (max-width: 450px) {
    position: static;
    text-align: center;
    position: absolute;
  }

  h1 {
    font: bold 4.2rem "Source Sans 3";

    @media (max-width: 450px) {
      font-size: 2.8rem;
      line-height: 3.2rem;
      margin-bottom: 10px;
    }
  }

  h2 {
    font: bold 3rem "Source Sans 3";

    @media (max-width: 450px) {
      font-size: 2rem;
      line-height: 2.4rem;
      margin-bottom: 10px;
    }
  }

  button {
    font: bold 2rem "Source Sans 3";
    border: none;
    padding: 1rem 2rem;
    background: $primary-color;
    color: $color-black;
    transition: all 0.3s ease;

    @media (max-width: 450px) {
      font-size: 1.6rem;
      padding: 0.8rem 1.6rem;
    }

    &:hover {
      background: darken($primary-color, 10%);
      cursor: pointer;
    }
  }
}
